#root{
  padding-left: 10vw;
  padding-right: 10vw;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}


.navbar{
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3vh;
}

.userinfo{
  display: flex;
  justify-content: space-evenly;
}

.blog{
  
  border: solid;
  border-width: 1px;

  padding: 3px;

  margin-bottom: 1vh;
 
}



.blog:hover{
  
  border: solid;
  border-width: 3px;
  background-color: lightblue;
  padding: 3px;

  margin-bottom: 1vh;
 
}


.blogAuthorHighlight{
  font-size: 0.8em;
}

button{
  color: blue;
}

.logoutbutton{
 margin: 10px;
}
