#root{
  padding-left: 10vw;
  padding-right: 10vw;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}


.navbar{
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3vh;
}

.userinfo{
  display: flex;
  justify-content: space-evenly;
}

.blog{
  
  border: solid;
  border-width: 1px;

  padding: 3px;

  margin-bottom: 1vh;
 
}



.blog:hover{
  
  border: solid;
  border-width: 3px;
  background-color: lightblue;
  padding: 3px;

  margin-bottom: 1vh;
 
}

.blogFullView{
  border: solid;
  border-width: 1px;
  border-style: dotted;
  padding: 5px;
}

.blogLikes{
  border: solid;
  border-width: 1px;
  padding: 10px;
  width: fit-content;
  font-size: 1.1em;
  
}

.likeButton{
  color: green;
}

.fullBlogContent{
  margin-bottom: 10vh;
}

.likeButton:hover{
  background-color: lightgreen; 
}

.likeButton:active{
  background-color: green;
  
}

.removeBlogButton{
  margin: 5px;
  color: black;
  border-color: red;
  border-width: 3px;
}

.removeBlogButton:hover{
  
  margin: 3px;
  color: black;
  border-color: red;
  border-width: 5px;
}

.blogAuthorHighlight{
  font-size: 0.8em;
}

button{
  color: blue;
  cursor: pointer;
}


.commentsSection{
  padding: 10px;
  margin: 5px;
  background-color: lightgray;
}

.singleComment{
  background-color: white;
  margin: 10px;
  padding: 10px;
}


.logoutbutton{
 margin: 10px;
}


table{
  border: 1px solid;
  padding: 10px;
  background-color: gray;
  text-align: center;
}

td{
  padding: 20px;
  background-color: white;
}

.userTableEntry{
 
  width: 100%;
}
.userTableEntry:hover{
 
  background-color: lightblue;
 
}